{layout name='layout'}

<form action=""  style="margin-top: 40px;margin-left: 40px;">
<div>
  <label for="radio-1">用户组名称</label>
	<input name="title" type="text" placeholder="用户组名称" class="input-text radius size-L">
</div>
<div class="">
<div class="mt-20 ">
<div>
  <label for="radio-1">用户组状态</label>
  <div class="radio-box">
    <input type="radio" id="radio-2" name="status" value="1" checked>
    <label for="radio-2">开启状态</label>
  </div>
  <div class="radio-box">
    <input type="radio" id="radio-2" name="status" value="0" checked>
    <label for="radio-2">禁止状态</label>
  </div>  
</div>
<div class="row c1">
  <div class="panel panel-primary">
  <div class="panel-header">配置权限</div>
  <div class="panel-body">
    <table class="table table-border">
      <thead>

          <tr><th>权限类别</th></tr>
          {foreach $data as $key=>$vo}
          <tr>
            <th>
                <div class="check-box">
                  <input value="{$vo.id}" name='rules[]' dataid='id-{$vo.dataid}' class='checkbox-parent {if condition="$vo['level'] neq 0"}checkbox-child{/if}' value="{$vo.id}" type="checkbox" id="">
                  <label for="checkbox-1">{$vo.title}</label>
                </div>
            </th>
          </tr>
        {/foreach}
      </thead>
      <tbody>
        <tr>

          <th>

          </th>
 
        </tr>
      </tbody>
    </table>    
  </div>
</div>
</div>
<div>
	<input type="submit" class="btn btn-primary-outline radius" value="保存信息"  name="">
</div>	
</form>
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jq.js"></script>
<script type="text/javascript">
/* 权限配置 */
$(function () {
//索引不存在从哪边数，它是定的。
//  var n = [1, 2, 3, 4, 5, 3,1];
// console.log(n);
// console.log(n.indexOf(3));
// console.log(n.lastIndexOf(3)); 
    //动态选择框，上下级选中状态变化
    /*
     [attribute]     选取拥有此属性的元素     集合元素     $("div[id]")    
     [attribute = value]     选取属性值为value的元素     集合元素     $("div[title=test]")    
     [attribute != value]     选取属性值不等于value的元素     集合元素     $("div[titil!=test]")    
     [attribute ^= value]     选取属性值以value开始的元素     集合元素     $("div[titil^=test]")    
     [attribute $= value]     选取属性值以value结束的元素     集合元素     $("div[titil$=test]")    
     [attribute *= value]     选取属性值含有value值的元素     集合元素     $("div[titil*=test]")   
    */
    /*
      1. 点击父级名称(每一个都是父级名称)，获取dataid。
      2. 查询input dataid以 dataid开头的所有，区分父级与子级与其他父级。
    */
    //input parent 变换的时候
    $('input.checkbox-parent').on('change', function () {
        var dataid = $(this).attr("dataid");

        $('input[dataid^=' + dataid + ']').prop('checked', $(this).is(':checked'));
        console.log(dataid.lastIndexOf("-"));


    });
    //input child变换的时候
    /*
      1.点击子级，获取当前的dataid；
      2.dataid.substring(0, dataid.lastIndexOf("-"));可以找到上一级的id
      3.parent
      4. while (dataid.lastIndexOf("-") != 2)
    */
    $('input.checkbox-child').on('change', function () {
        var dataid = $(this).attr("dataid");

        //id-18-19-21-22-23-24
        //lastIndexOf() 方法可返回一个指定的字符串值最后出现的位置，在一个字符串中的指定位置从!!后向前搜索!!。
        //lastIndexOf()：从右往左找，用法跟indexOf()一样；  
        //substring() 方法用于提取字符串中介于两个指定下标之间的字符。
        //stringObject.substring(start,stop)

        dataid = dataid.substring(0, dataid.lastIndexOf("-"));
        var parent = $('input[dataid=' + dataid + ']');
        if ($(this).is(':checked')) {
            parent.prop('checked', true);
            //循环到顶级 for循环，
            //While 循环会在指定条件为真时循环执行代码块。true
            //什么时候等于2 id-2 二级子类 id-18

            while (dataid.lastIndexOf("-") != 2) {
                dataid = dataid.substring(0, dataid.lastIndexOf("-"));
                parent = $('input[dataid=' + dataid + ']');
                parent.prop('checked', true);
            }
        } else {
            //父级
            
            if ($('input[dataid^=' + dataid + ']:checked').length == 0) {
                parent.prop('checked', false);
                //循环到顶级
                while (dataid.lastIndexOf("-") != 2) {
                    dataid = dataid.substring(0, dataid.lastIndexOf("-"));
                    parent = $('input[dataid=' + dataid + ']');
                    if ($('input[dataid^=' + dataid + '-]:checked').length == 0) {
                        parent.prop('checked', false);
                    }
                }
            }
        }
    });
});
</script>
